h1{
font-size: xx-large;   
text-align: center;

}
p{
 color: blueviolet;   
}
.red{
    color: red;
}
.blue{
    color: royalblue;
}
.green{
    color: green;
}
.styledFont{
    color: greenyellow;
}